<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> ereporter</title>
  <!-- Latest compiled and minified CSS bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/index.css">
</head>

  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <a href="index.html"><img src="../static/img/logo.png" alt="Logo" width=70 height=70></a>
          </div>
          <div class="col-xs-6 signin text-right navbar-nav">
            <a href="/admin/signup">Get Started</a>&nbsp; &nbsp;<a href="/admin/login">Sign in</a>
          </div>
        </div>

        <div class="row header-info">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h1 class="wow fadeIn">eReport - <span class="red">Akrapong</span></h1>
            <br />
            <p class="lead wow fadeIn" data-wow-delay="0.5s">Look, Choose, Book!<br> Search for rooms at all available hostels off-campus.<br>You like it? You book it.
            </p>
            <br />

            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                    <a href="/hostels" class="btn btn-secondary btn-lg">Tour Hostels now</a>
                  </div>
                  <div class="col-xs-6 text-left wow fadeInUp red" data-wow-delay="1.4s">
                    <a href="#create-hostel-sec" class="btn btn-primary-red btn-lg scroll">Hostel Manager?</a>
                  </div>
                </div><!--End Button Row-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

  <footer class="footer">
      <p>&copy Alex Waweru</p>
  </footer>


    <!-- Latest compiled and minified Javascript chance -->
    <script src="http://chancejs.com/chance.min.js"></script>
    <!-- Latest compiled and minified Javascript jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified Javascript bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Main javascript file -->
    <script src="main.js"></script>
  </body>
</html>
